li {
  list-style: none;
  margin-right: 30px;
}
button {
  width: 150px;
  border-radius: 10px;
  font-size: 16px;
}
.container-footer {
  margin: auto;
  display: flex;
  justify-content: center;
}
.d-flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}


.icon{
  width: 129px;
}
.about {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: white;
  text-decoration: none;
  list-style: none;
  margin-bottom: 50px;
}
.text{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
  text-decoration: none;
}

